@use "shared/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.actions {
  display: flex;
  gap: $spacing-md;
  justify-content: flex-end;
}

.error {
  margin: 0;
  font-size: 0.875rem;
  color: $color-danger;
}

.cancelButton {
  color: $color-primary !important;
}

// #cancelButton {
//   color: red !important;
// }
